:root.theme-dark {
  --accent-color: rgb(255, 0, 112);
  --title-color: #db00ff;
  --main-text-color: #f1b2ce;
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --decor-color: var(--accent-color);
  --button-color: var(--accent-color);
  --title-decor-color: var(--background-color);
  --hover-border-color: rgb(255 0 112 / 0.4);
  --content__section-title-color: var(--accent-color);
}

@media (prefers-color-scheme: dark) {
  :root:not(.theme-light) {
    .rec {
      display: block;
    }
  }
}

.theme-dark .rec {
  display: block;
}